body {
    background: url('../images/background-dog.jpg');
    background-size: cover;
    background-position-y: 50px;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.home {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    &_logo {
        background: url('../images/logo.png');
        height: 8rem;
        width: 8rem;
        display: block;
        background-size: cover;
        margin: auto;
    }

    &_hero {
        margin-block-start: 4rem;
        display: flex;
        flex-direction: column;
    }

    &-headline {
        font-size: 1.5rem;
        margin: .25rem auto;
    }
    &-tagline {
        font-size: 1rem;
        margin: auto;
    }
    &_CTA {
        transition: 0.3s;
        background: linear-gradient(50deg, #F8EC63, #29990D);
        border: none;
        color: #fff;
        padding: 0.25rem 1.5rem;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.85rem;
        margin: 1rem auto;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
}  


footer {
    background-color: #121212;
    position: absolute;
    width: 100%;
    padding: .25rem .5rem;
    text-align: center;
    left: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}